@charset "UTF-8";
@import url("fonts/css/fontello.css");
/* -------------------------------------------
 *  reset
 * ------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

header, main, footer, article, aside, details, figcaption, figure, hgroup, menu, nav, section,
address, fieldset, legend {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

a {
  color: inherit;
}

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
  outline: 0;
  outline-offset: 0px;
}

a[role="button"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

s,
strike {
  text-decoration: line-through;
}

ul {
  margin-left: 1.15em;
}

ol {
  margin-left: 1.1em;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.chrome img {
  image-rendering: -webkit-optimize-contrast;
}

div, button, input, select, textarea, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  color: inherit;
}

button, input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  color: inherit;
}

button {
  display: inline-block;
}

button, select {
  text-transform: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  width: 100%;
  resize: none;
}

figure, address,
fieldset, legend {
  margin: 0;
  padding: 0;
}

* {
  min-width: 0;
  min-height: 0;
}

*, *:focus {
  outline: 0;
}

*, *::before, *::after, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------
 *  basic
 * ------------------------------------------ */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  height: 100%;
}

html.body-fixed {
  overflow: hidden;
}

body {
  background-color: #ffffff;
  overflow: visible;
  color: #000000;
  font-family: "Muli", "Source Sans Pro", "Heiti TC", "Microsoft JhengHei", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 479px) {
  body {
    font-size: 16px;
  }
}

a {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin: 0;
}

/* -------------------------------------------
 *  shown / hidden
 * ------------------------------------------ */
@media screen and (min-width: 1200px) {
  .shown-1199 {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .shown-991 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .shown-767 {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .shown-479 {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .hidden-1199 {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .hidden-991 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-767 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .hidden-479 {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .hide-p-up {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .hide-t-up {
    display: none !important;
  }
}

@media screen and (max-width: 577px) {
  .hide-p-under {
    display: none !important;
  }
}

@media screen and (max-width: 1025px) {
  .hide-t-under {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .hide-t-p-under {
    display: none !important;
  }
}

/* -------------------------------------------
 *  typograpy
 * ------------------------------------------ */
.f0 {
  font-size: 0;
}

.f16 {
  font-size: 16px;
}

.f17 {
  font-size: 17px;
}

.f18 {
  font-size: 18px;
}

.f19 {
  font-size: 19px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px;
}

.f25 {
  font-size: 25px;
}

.f28 {
  font-size: 28px;
}

.f30 {
  font-size: 30px;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.fw-900 {
  font-weight: 900;
}

.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.lh-normal {
  line-height: normal;
}

.lh-100 {
  line-height: 1;
}

.lh-120 {
  line-height: 1.2;
}

.lh-150 {
  line-height: 1.5;
}

.lh-175 {
  line-height: 1.75;
}

.lh-200 {
  line-height: 2;
}

.ls-005 {
  letter-spacing: 0.05em;
}

.ls-01 {
  letter-spacing: 0.1em;
}

.tc-wBlue {
  color: #01ABDF;
}

.tc-mBlue {
  color: #00539B;
}

.tc-black {
  color: #000000;
}

.tc-gray {
  color: #808080;
}

.tc-lightGray {
  color: #676767;
}

.tdeco-none {
  text-decoration: none;
}

.tt-none {
  text-transform: none;
}

.c-gray333 {
  color: #333333;
}

.fw-bold {
  font-weight: bold;
}

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

body {
  background-color: #f1f1f1;
  font-family: "fontello", "Microsoft JhengHei";
}

p,
td,
div {
  font-family: "Microsoft JhengHei";
}

/* ==========================================================================
* report
 ==========================================================================*/
.A4 {
  background-color: white;
  margin: 0 auto;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow-y: scroll;
}

.A4::-webkit-scrollbar {
  display: none;
}

.A4 {
  width: 1070px;
  height: 1514px;
  margin-bottom: 0.5cm;
}

.A4 > div > *:not(.head),
.A4 > div > *:not(.header) {
  width: 890px;
  margin-left: auto;
  margin-right: auto;
}

.A4 > div .head, .A4 > div .header {
  width: 100%;
  padding-left: 90px;
  padding-right: 90px;
}

.A4-nomodify {
  background: white;
  display: block;
  margin: 0 auto;
}

.A4-nomodify {
  width: 1070px;
  height: 1514px;
  margin-bottom: 0.5cm;
}

.height-150 {
  height: 150px;
}

#FollowUpSchedule + .A4 {
  padding-bottom: 0;
}

@media print {
  @page {
    size: A4 portrait;
  }
  .page-break-after {
    page-break-after: always;
  }
  .category-height {
    height: 100px;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .A4 {
    width: 1070px;
    min-height: 1400px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    width: auto;
    height: auto;
    page-break-before: always;
    overflow-y: hidden;
  }
  .A4 > div > *:not(.head),
  .A4 > div > *:not(.header) {
    width: 890px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .A4 > div .head, .A4 > div .header {
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
  }
  .A4-nomodify {
    width: 1070px;
    min-height: 1400px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    width: auto;
    height: auto;
  }
  .noprint {
    display: none;
  }
  .enable-print {
    display: block;
  }
}

@page :left {
  margin-left: 0cm;
}

@page :right {
  margin-left: 0cm;
}

@page :left {
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
}

.footholder {
  width: 100%;
  height: 100px;
}

/* ==========================================================================
  * report 共用 [page] [footer]
   ==========================================================================*/
.report .print-Box.page .footer {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;
  margin-top: auto;
}

.report .print-Box.page .footerH {
  position: relative;
}

.footerholder {
  height: 100px;
}

/* ==========================================================================
* reportPrint
 ==========================================================================*/
h1,
h2,
h3,
h4,
h5 {
  page-break-after: avoid;
  font-family: "Microsoft JhengHei";
}

.reportPrint {
  width: 1070px;
  position: relative;
  margin: auto;
  color: #000000;
}

.reportPrint .print-Box {
  page-break-after: always;
}

.reportPrint .head {
  position: relative;
  font-size: 15px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reportPrint .head .block {
  padding: 0 20px;
  float: left;
}

.reportPrint .head .block ul > li + li {
  margin-top: 5px;
}

.reportPrint .head .block + .block {
  border-left: 1px solid #dcdcdc;
}

.reportPrint .head-template {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.reportPrint .head__logo {
  width: 180px;
}

.reportPrint .A4 .head + .page-data .title {
  margin-top: 0;
}

.reportPrint .A4 .head + .title {
  margin-top: 0 !important;
}

@media print {
  .reportPrint .head {
    display: block;
  }
  .reportPrint .head .block {
    float: left;
  }
}

/* ==========================================================================
* report [page-front] 封面
 ==========================================================================*/
.report #page-front {
  background-image: url(images/page-front-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0;
  position: relative;
}

.report #page-front .id {
  top: 120px;
  left: 120px;
  font-size: 20px;
  color: #ffffff;
  width: 200px;
  position: absolute;
}

.report #page-front .id em {
  font-size: 30px;
  margin-left: 5px;
}

.report #page-front .title {
  position: absolute;
  top: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #ffffff;
}

.report #page-front .title img {
  width: 350px;
  height: auto;
}

.report #page-front .title h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 65px;
  line-height: normal;
}

.report #page-front .title h2 {
  font-size: 30px;
  position: relative;
  margin-bottom: 30px;
  line-height: normal;
}

.report #page-front .title p {
  color: #ffffff;
}

.report #page-front .txt {
  width: 300px;
  text-align: right;
  bottom: 150px;
  right: 100px;
  left: inherit;
  padding-bottom: 20px;
  position: absolute;
  line-height: 2;
  color: #5e5e5e;
}

.report #page-front .txt p strong {
  color: #000000;
}

.report #page-front .txt p:last-child {
  margin-bottom: 0;
}

.report #page-front .txt h3 {
  font-size: 30px;
  line-height: 1.3em;
  font-family: "DejaVu Serif", Georgia, serif;
  margin-bottom: 25px;
}

.report #page-front .txt h3 em {
  font-style: normal;
  font-size: 20px;
  display: block;
}

.report #page-front .qrcode {
  position: relative;
  padding-top: 30px;
  margin-top: 30px;
}

.report #page-front .address {
  position: absolute;
  bottom: 150px;
  left: 100px;
}

.report #page-front .address .logo {
  width: 200px;
  margin-bottom: 15px;
}

.report #page-front .address p {
  margin-left: 40px;
  line-height: 1em;
  color: #323232;
}

/* ==========================================================================
* report共用 [page][header]
==========================================================================*/
.report .page > .print-Box {
  padding: 0;
}

.report .page > .print-Box .page-head {
  position: absolute;
  left: 50px;
  top: 25px;
}

.report .page .print-Box.page .header {
  padding-left: 90px;
}

.report .page .print-Box.page .header .num {
  padding-top: 100px;
  color: #000000;
  font-size: 60px;
  font-family: Roboto, sans-serif;
  position: relative;
  margin-bottom: 40px;
}

.report .page .print-Box.page .header .num:after {
  content: "";
  background-color: #c8c8c8;
  height: 3px;
  width: 130px;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 2;
}

.report .page .print-Box.page .header .num:before {
  content: "";
  background-color: #a76f1f;
  height: 5px;
  width: 60px;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 3;
}

.report .page .print-Box.page .header h2 {
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.report .page .print-Box.page .header h2 span {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  display: block;
  line-height: 1.8em;
}

/* ==========================================================================
* report 共用 [page] [text]
==========================================================================*/
.report .line {
  border-bottom: 1px solid #e4d4bb;
  padding: 0 0 15px 0;
}

.report .lineb {
  border-bottom: 1px solid #a76f1f;
}

.report .mr {
  padding-bottom: 50px;
  margin-bottom: 70px;
}

/* ==========================================================================
* report 共用 [page] [page-1]
==========================================================================*/
.report .page-1 .box-1 .colTtop:first-child {
  margin-right: 80px;
}

.report .page-1 .box-1 .colTtop .line {
  padding-right: 30px;
}

/* ==========================================================================
* [page] [page-body] 人體模型
 ==========================================================================*/
#page-body .headerbox {
  padding-top: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 34px solid transparent;
}

#page-body .title {
  color: #000000;
  font-size: 30px;
  line-height: 40px;
  padding-left: 110px;
  padding-right: 20px;
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 10px;
}

#page-body .title:before {
  display: none;
}

#page-body .title p {
  font-size: 20px;
}

#page-body .txt {
  padding: 20px;
  border-bottom: 1px solid #aaa;
}

#page-body .sub {
  font-size: 18px;
  line-height: 30px;
  width: 700px;
  padding-left: 35px;
  padding-right: 100px;
  margin: 10px;
  border-left: 1px solid #dcdcdc;
}

#page-body .contact-box p + p {
  padding-top: 10px;
}

#page-body .main {
  background-color: #fafafa;
  clear: both;
  height: 100%;
  width: 100%;
}

#page-body .main .inner {
  color: #323232;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

#page-body .main .inner .dollbody {
  padding-top: 130px;
  text-align: center;
  z-index: -1;
}

#page-body .main .inner .dollbody img {
  width: 650px;
  height: auto;
}

#page-body .main .inner .leftbox div p,
#page-body .main .inner .rightbox div p {
  font-weight: normal;
  padding-top: 2px;
}

#page-body .main .inner .box {
  position: absolute;
}

#page-body .main .inner .box .inner-txt {
  background: #fafafa;
  position: relative;
  z-index: 1;
  padding: 0 10px;
  line-height: 1.2;
}

#page-body .main .inner .box .inner-txt .tit {
  padding-right: 5px;
}

#page-body .main .inner .box .inner-txt .en {
  font-size: 16px;
  display: inline-block;
  line-height: 1.4;
  padding-top: 2px;
}

#page-body .main .dots {
  list-style: none;
  color: #fff;
  margin-left: 0;
}

#page-body .main .dots li {
  width: 10px;
  height: 10px;
  background-color: currentColor;
  border-radius: 10px;
  margin: 0 3px;
  display: none;
}

#page-body .main .dots.green {
  color: #00B050;
}

#page-body .main .dots.green li {
  display: none;
}

#page-body .main .dots.green li:nth-of-type(4) {
  display: inline-block;
}

#page-body .main .dots.yellow {
  color: #ffff00;
}

#page-body .main .dots.yellow li {
  display: none;
  border: 1px solid #E2E60F;
}

#page-body .main .dots.yellow li:nth-of-type(3), #page-body .main .dots.yellow li:nth-of-type(4) {
  display: inline-block;
}

#page-body .main .dots.orange {
  color: #F79646;
}

#page-body .main .dots.orange li {
  display: inline-block;
}

#page-body .main .dots.orange li:nth-last-of-type(1) {
  display: none;
}

#page-body .main .dots.red {
  color: #FF0000;
}

#page-body .main .dots.red li {
  display: inline-block;
}

#page-body .main .inner-description {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 25px;
}

#page-body .main .inner-description .tit {
  font-size: 22px;
  font-weight: bold;
}

#page-body .main .inner-description .tit .en {
  font-size: 16px;
}

#page-body .main .inner-description .description-table {
  margin-top: 15px;
  width: 100%;
}

#page-body .main .inner-description .description-table td {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 10px 10px 15px;
  color: #333;
}

#page-body .main .inner-description .description-table td .td-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.2;
}

#page-body .main .inner-description .description-table td .td-in .dots {
  margin-bottom: 10px;
}

#page-body .main .inner-description .description-table td .td-in .tt {
  font-size: 18px;
}

#page-body .main .inner-description .description-table td .td-in .en {
  margin-top: 5px;
  font-size: 16px;
}

#page-body .main .inner .leftbox {
  text-align: right;
}

#page-body .main .inner .leftbox .left1 {
  width: 290px;
  height: 120px;
  display: block;
  top: 85px;
  left: 60px;
}

#page-body .main .inner .leftbox .left2 {
  width: 210px;
  height: 100px;
  display: block;
  top: 220px;
  left: 90px;
}

#page-body .main .inner .leftbox .left3,
#page-body .main .inner .leftbox .fe_left3 {
  width: 220px;
  height: 120px;
  display: block;
  top: 410px;
  left: 90px;
}

#page-body .main .inner .leftbox .left4,
#page-body .main .inner .leftbox .fe_left4 {
  width: 220px;
  height: 120px;
  display: block;
  top: 600px;
  left: 90px;
}

#page-body .main .inner .leftbox .left5 {
  width: 220px;
  height: 120px;
  display: block;
  top: 750px;
  left: 90px;
}

#page-body .main .inner .rightbox {
  text-align: left;
}

#page-body .main .inner .rightbox .right1 {
  width: 220px;
  height: 120px;
  display: block;
  top: 155px;
  right: 100px;
}

#page-body .main .inner .rightbox .right2,
#page-body .main .inner .rightbox .fe_right2 {
  width: 220px;
  height: 120px;
  display: block;
  top: 350px;
  right: 100px;
}

#page-body .main .inner .rightbox .right3 {
  width: 220px;
  height: 120px;
  display: block;
  top: 520px;
  right: 100px;
}

#page-body .main .inner .rightbox .right4 {
  width: 220px;
  height: 120px;
  display: block;
  top: 640px;
  right: 100px;
}

#page-body .main .inner .rightbox .right5 {
  width: 220px;
  height: 120px;
  display: block;
  top: 760px;
  right: 100px;
}

#page-body .main .inner .rightbox .right6 {
  width: 220px;
  height: 120px;
  display: block;
  top: 880px;
  right: 100px;
}

@media print {
  #page-body .headerbox {
    padding-top: 0.5cm;
    display: block;
  }
  #page-body .headerbox .title {
    float: left;
    width: 250px;
    padding-left: 100px;
  }
  #page-body .headerbox .sub {
    float: left;
    width: 600px;
    padding-right: 0;
  }
  #page-body .main .inner .dollbody {
    padding-top: 100px;
  }
  #page-body .main .inner .leftbox {
    text-align: right;
  }
  #page-body .main .inner .leftbox .left1 {
    width: 290px;
    height: 120px;
    display: block;
    top: 55px;
    left: 65px;
  }
  #page-body .main .inner .leftbox .left2 {
    width: 210px;
    height: 100px;
    display: block;
    top: 190px;
    left: 90px;
  }
  #page-body .main .inner .leftbox .left3,
  #page-body .main .inner .leftbox .fe_left3 {
    width: 220px;
    height: 120px;
    display: block;
    top: 380px;
    left: 90px;
  }
  #page-body .main .inner .leftbox .left4,
  #page-body .main .inner .leftbox .fe_left4 {
    width: 220px;
    height: 120px;
    display: block;
    top: 570px;
    left: 90px;
  }
  #page-body .main .inner .leftbox .left5 {
    width: 220px;
    height: 120px;
    display: block;
    top: 720px;
    left: 90px;
  }
  #page-body .main .inner .rightbox {
    text-align: left;
  }
  #page-body .main .inner .rightbox .right1 {
    width: 220px;
    height: 120px;
    display: block;
    top: 125px;
    right: 100px;
  }
  #page-body .main .inner .rightbox .right2,
  #page-body .main .inner .rightbox .fe_right2 {
    width: 220px;
    height: 120px;
    display: block;
    top: 320px;
    right: 100px;
  }
  #page-body .main .inner .rightbox .right3 {
    width: 220px;
    height: 120px;
    display: block;
    top: 490px;
    right: 100px;
  }
  #page-body .main .inner .rightbox .right4 {
    width: 220px;
    height: 120px;
    display: block;
    top: 610px;
    right: 100px;
  }
  #page-body .main .inner .rightbox .right5 {
    width: 220px;
    height: 120px;
    display: block;
    top: 730px;
    right: 100px;
  }
  #page-body .main .inner .rightbox .right6 {
    width: 180px;
    height: 100px;
    display: block;
    top: 850px;
    right: 100px;
  }
  #page-body .main .inner-description {
    margin-top: 20px;
  }
  #page-body .main .inner-description .description-table {
    margin-top: 25px;
  }
  #page-body .main .inner-description .description-table td {
    font-weight: 500;
  }
}

/*--- [males] 男性的線段 ---*/
#page-body .main .inner .leftbox .left1:before {
  content: url(images/line_left_top.png);
  position: absolute;
  top: 10px;
  left: 250px;
}

#page-body .main .inner .leftbox .left2:before {
  content: url(images/line_left1.png);
  position: absolute;
  top: 0;
  left: 183px;
}

#page-body .main .inner .leftbox .left3:before {
  content: url(images/line_left_top.png);
  position: absolute;
  top: 11px;
  left: 193px;
}

#page-body .main .inner .leftbox .left4:before {
  content: url(images/line_left1.png);
  position: absolute;
  top: -5px;
  left: 225px;
}

#page-body .main .inner .rightbox .right1:before {
  content: url(images/line_right1.png);
  position: absolute;
  height: 2px;
  width: 260px;
  top: 10px;
  left: -200px;
}

#page-body .main .inner .rightbox .right2:before {
  content: url(images/line_left1.png);
  position: absolute;
  left: -160px;
  top: -4px;
}

/*--- [females] 女性的線段 ---*/
#page-body .main .inner .leftbox .fe_left3:before {
  content: url(images/line_left3.png);
  position: absolute;
  top: -6px;
  left: 190px;
}

#page-body .main .inner .fe_left4:before {
  content: url(images/line_left4-2.png);
  position: absolute;
  top: -20px;
  left: 190px;
}

#page-body .main .inner .fe_left5:before {
  content: url(images/line_left5-2.png);
  position: absolute;
  top: -55px;
  left: 190px;
}

/* ==========================================================================
* [page] [page-catalog] 目錄
 ==========================================================================*/
#page-catalog.A4-nomodify {
  height: auto;
}

#page-catalog .headerbox {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 50px;
  border-bottom: 5px solid #dcdcdc;
  color: #323232;
  font-size: 37px;
  font-weight: bold;
}

#page-catalog .headerbox .en {
  font-size: 28px;
}

#page-catalog .main {
  width: 850px;
  margin: 0 auto;
  padding-bottom: 2cm;
}

#page-catalog .main .title {
  font-size: 17px;
  font-weight: bold;
  color: #ff8b3c;
  margin-bottom: 0;
  padding-left: 10px;
}

#page-catalog .main .pagenum {
  float: right;
  color: #323232;
  font-weight: normal;
  padding-right: 10px;
}

#page-catalog .main .list {
  line-height: 2;
  font-size: 17px;
}

#page-catalog .main .list > .subtitle {
  padding-left: 47px;
}

#page-catalog .main .list > .item {
  padding-left: 55px;
}

#page-catalog div + .title {
  border-top: 2px solid #d2d2d2;
  margin-top: 5px;
  padding-top: 5px;
}

/* ==========================================================================
* tableList各頁面設定
 ==========================================================================*/
.report .print-Box.page {
  font-size: 18px;
}

.report .print-Box.page .header {
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: 360px;
}

.report .print-Box.page .header .num {
  padding-top: 70px;
  color: #000000;
  font-size: 60px;
  font-family: Roboto, sans-serif;
  position: relative;
  margin-bottom: 40px;
  line-height: 1;
}

.report .print-Box.page .header .num:after {
  content: '';
  background-color: #c8c8c8;
  height: 3px;
  width: 130px;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 2;
}

.report .print-Box.page .header .num:before {
  content: '';
  background-color: #a76f1f;
  height: 5px;
  width: 60px;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 3;
}

.report .print-Box.page .header h2 {
  font-weight: bold;
  position: relative;
  z-index: 1;
  line-height: normal;
}

.report .print-Box.page .header h2 span {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  display: block;
  line-height: 1.8em;
}

.report .print-Box.page .header-1 {
  background-image: url(images/page-1-header.jpg);
}

.report .print-Box.page .header-2 {
  background-image: url(images/page-2-header.jpg);
  min-height: 500px;
}

.report .print-Box.page .header-2 .num {
  padding-top: 50px;
}

.report .print-Box.page .header-2 .header_script {
  width: 62%;
}

.report .print-Box.page .header-3 {
  background-image: url(images/page-3-header.jpg);
  min-height: 500px;
}

.report .print-Box.page .header-3 .num {
  padding-top: 50px;
}

.report .print-Box.page .header-3 .header_script {
  width: 62%;
}

.report .print-Box.page .header-4 {
  background-image: url(images/page-4-header.jpg);
}

.report .print-Box.page .header-5 {
  background-image: url(images/page-5-header.jpg);
}

.report .print-Box.page .header-6 {
  background-image: url(images/page-6-header.jpg);
}

.report .print-Box.page .header-7 {
  background-image: url(images/page-7-header.jpg);
}

.report .print-Box.page .header-8 {
  background-image: url(images/page-8-header.jpg);
}

.report .print-Box.page .header-9 {
  background-image: url(images/page-9-header.jpg);
}

.report .print-Box.page .header-10 {
  background-image: url(images/page-10-header.jpg);
  min-height: 500px;
  background-size: contain;
  background-position: center top;
}

.report .print-Box.page .header-10 .num {
  padding-top: 50px;
}

.report .print-Box.page .header-10 .header_script {
  width: 62%;
}

.report .print-Box.page .title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 40px;
}

.report .print-Box.page .title .icon-title {
  margin-right: 10px;
  font-size: 32px;
}

.report .print-Box.page .title .en {
  font-size: 20px;
  padding-left: 10px;
}

.report .print-Box .picgroup {
  margin-top: 40px;
}

.report .print-Box .picgroup img {
  max-width: 100%;
}

.report .print-Box .picgroup.pic-even img {
  max-width: 400px;
  max-height: 400px;
  margin: 0 25px 40px;
}

.report .print-Box .picgroup.pic-1 {
  height: 1200px;
}

.report .print-Box .picgroup.pic-1 img {
  max-width: 890px;
  max-height: 1200px;
  margin: auto;
}

.report .print-Box .hasbottomBg {
  background-image: url(images/page-bg.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.reportUl {
  margin: 0 auto;
  border-top: 2px solid #3d93d2;
  border-bottom: 2px solid #3d93d2;
  padding: 15px 25px !important;
  background: #ebf4fa;
  list-style-type: none;
  width: 890px;
}

.reportUl li {
  position: relative;
  padding-left: 20px;
  line-height: normal;
}

.reportUl li:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3d93d2;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
}

.reportUl li + li {
  margin-top: 5px;
}

.table-block {
  page-break-after: auto;
}

.table-block > div {
  page-break-after: auto;
  page-break-before: auto;
}

.tableList {
  width: 890px;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

.tableList th {
  padding: 10px;
  font-weight: bold;
  vertical-align: middle;
}

.tableList th .en {
  display: block;
  font-size: 15px;
}

.tableList td {
  padding: 10px 15px;
  line-height: 1.3;
  vertical-align: middle;
  word-break: break-all;
}

.tableList td .en {
  display: block;
  font-size: 15px;
  padding-top: 2px;
}

.tableList.row-4 th, .tableList.row-4 td {
  width: 18%;
  text-align: center;
}

.tableList.row-4 th:nth-of-type(1), .tableList.row-4 td:nth-of-type(1) {
  width: 40%;
}

.tableList.row-4 th:nth-of-type(4), .tableList.row-4 td:nth-of-type(4) {
  width: 24%;
}

.tableList.row-4 td:nth-of-type(1) {
  text-align: left;
}

.tableList.row-5 th .en {
  font-size: 15px;
}

.tableList.row-5 th, .tableList.row-5 td {
  width: 20% !important;
  text-align: center;
}

.tableList.row-2 th, .tableList.row-2 td {
  width: 50%;
}

.border-top-brown {
  border-top: 2px solid #a76f1f;
}

.page-brown .header .num:before, .page-1 .header .num:before, .page-4 .header .num:before, .page-7 .header .num:before {
  background-color: #A76F1F !important;
}

.page-brown .title .icon-title, .page-1 .title .icon-title, .page-4 .title .icon-title, .page-7 .title .icon-title {
  color: #A76F1F;
}

.page-brown .title + div .tableList, .page-1 .title + div .tableList, .page-4 .title + div .tableList, .page-7 .title + div .tableList {
  border-top: 2px solid #a76f1f;
}

.page-brown .tableList, .page-1 .tableList, .page-4 .tableList, .page-7 .tableList {
  border-bottom: 2px solid #a76f1f;
}

.page-brown .tableList th, .page-1 .tableList th, .page-4 .tableList th, .page-7 .tableList th {
  background-color: #f7f1e0;
}

.page-brown .tableList td, .page-1 .tableList td, .page-4 .tableList td, .page-7 .tableList td {
  background-color: #fefbf4;
}

.page-brown .reportUl, .page-1 .reportUl, .page-4 .reportUl, .page-7 .reportUl {
  border-top: 2px solid #A76F1F;
  border-bottom: 2px solid #A76F1F;
  background: #fefbf4;
}

.page-brown .reportUl li:before, .page-1 .reportUl li:before, .page-4 .reportUl li:before, .page-7 .reportUl li:before {
  background: #A76F1F;
}

.page-green .header .num:before, .page-2 .header .num:before, .page-5 .header .num:before {
  background-color: #619034 !important;
}

.page-green .title .icon-title, .page-2 .title .icon-title, .page-5 .title .icon-title {
  color: #619034;
}

.page-green .title + div .tableList, .page-2 .title + div .tableList, .page-5 .title + div .tableList {
  border-top: 2px solid #619034;
}

.page-green .tableList, .page-2 .tableList, .page-5 .tableList {
  border-bottom: 2px solid #619034;
}

.page-green .tableList th, .page-2 .tableList th, .page-5 .tableList th {
  background: #e1f1d4;
}

.page-green .tableList td, .page-2 .tableList td, .page-5 .tableList td {
  background: #f2f8f0;
}

.page-green .reportUl, .page-2 .reportUl, .page-5 .reportUl {
  border-top: 2px solid #619034;
  border-bottom: 2px solid #619034;
  background: #f2f8f0;
}

.page-green .reportUl li:before, .page-2 .reportUl li:before, .page-5 .reportUl li:before {
  background: #619034;
}

.page-blue .header .num:before, .page-3 .header .num:before, .page-6 .header .num:before, .page-8 .header .num:before {
  background-color: #3d93d2 !important;
}

.page-blue .title .icon-title, .page-3 .title .icon-title, .page-6 .title .icon-title, .page-8 .title .icon-title {
  color: #3d93d2;
}

.page-blue .title + div .tableList, .page-3 .title + div .tableList, .page-6 .title + div .tableList, .page-8 .title + div .tableList {
  border-top: 2px solid #3d93d2;
}

.page-blue .tableList, .page-3 .tableList, .page-6 .tableList, .page-8 .tableList {
  border-bottom: 2px solid #3d93d2;
}

.page-blue .tableList th, .page-3 .tableList th, .page-6 .tableList th, .page-8 .tableList th {
  background: #d2e6f5;
}

.page-blue .tableList td, .page-3 .tableList td, .page-6 .tableList td, .page-8 .tableList td {
  background: #ebf4fa;
  padding: 12px 15px;
}

.page-blue .reportUl, .page-3 .reportUl, .page-6 .reportUl, .page-8 .reportUl {
  border-top: 2px solid #3d93d2;
  border-bottom: 2px solid #3d93d2;
  background: #ebf4fa;
}

.page-blue .reportUl li:before, .page-3 .reportUl li:before, .page-6 .reportUl li:before, .page-8 .reportUl li:before {
  background: #3d93d2;
}

.page-purple .header .num:before, .page-9 .header .num:before, .page-10 .header .num:before {
  background-color: #8a80b0 !important;
}

.page-purple .title .icon-title, .page-9 .title .icon-title, .page-10 .title .icon-title {
  color: #8a80b0;
}

.page-purple .title + div .tableList, .page-9 .title + div .tableList, .page-10 .title + div .tableList {
  border-top: 2px solid #8a80b0;
}

.page-purple .tableList, .page-9 .tableList, .page-10 .tableList {
  border-bottom: 2px solid #8a80b0;
}

.page-purple .tableList th, .page-9 .tableList th, .page-10 .tableList th {
  background: #e1deeb;
}

.page-purple .tableList td, .page-9 .tableList td, .page-10 .tableList td {
  background: #f8f7fa;
  padding: 12px 15px;
}

.page-purple .reportUl, .page-9 .reportUl, .page-10 .reportUl {
  border-top: 2px solid #8a80b0;
  border-bottom: 2px solid #8a80b0;
  background: #f8f7fa;
}

.page-purple .reportUl li:before, .page-9 .reportUl li:before, .page-10 .reportUl li:before {
  background: #8a80b0;
}

.page-1 .tableList td {
  width: 25%;
  background-color: #fefbf4;
  text-align: left;
}

.page-1 .tableList td:nth-of-type(odd) {
  background-color: #f7f1e0;
  text-align: center;
  padding: 10px;
}

.page-1 .tableList td:nth-of-type(2) {
  width: auto;
}

.page-2 .tableList td, .page-5 .tableList td {
  padding: 12px 15px;
}

.page-3 .title .en {
  display: block;
  padding-left: 45px !important;
}

.page-4 .tableList td {
  background-color: #fefbf4;
  text-align: center;
  padding: 7px 15px;
}

.page-5 .tableList {
  line-height: 1.2;
}

.page-5 .tableList td {
  padding: 7px 15px;
}

.page-6 .tableList.row-2 th {
  width: 35% !important;
}

.page-6 .reportUl {
  border: 0;
  background: none;
  margin-top: 20px;
}

.page-8 .reportUl {
  border-bottom: 0;
}

.page-8 .page-data:nth-last-of-type(1) .reportUl {
  border-bottom: 2px solid #3d93d2;
}

.page-10 .tableList.row-2 th {
  text-align: left;
}

.page-10 .tableList.row-2 th, .page-10 .tableList.row-2 td {
  vertical-align: top;
}

.sub {
  font-size: 15px;
}

#page-back {
  background: #fff url(images/page-back-bg.jpg) center center no-repeat;
  background-size: cover;
}
