﻿<input type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="">
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="groupList">
        @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
    </label>
    <div class="col-lg-10">
        @if (ViewBag.category != null)
        {
            int i = 1;
            foreach (var item in ViewBag.category)
            {
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input checkBoxField" data-key="@ViewBag.key" type="checkbox" id="@Html.Raw(ViewBag.key + i)" value="@Html.Raw(item.guid)" @if (ViewBag.data != null && ViewBag.data[ViewBag.key].ToString().IndexOf(item.guid) != -1){ @Html.Raw("checked") } />
                    <label class="custom-control-label" for="@Html.Raw(ViewBag.key + i)">@Html.Raw(item.title)</label>
                </div>
                i++;
            }
        }


    </div>
</div>
