﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="subject">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>

    <div class="col-lg-5 col-xl-4">
        <input class="form-control" type="text" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.masterUser != null) {@Html.Raw(ViewBag.masterUser["name"] + " ("+ViewBag.masterUser["username"]+") ")}"  @ViewBag.colJson["readonly"].ToString() /><div class="_formErrorMsg"></div>
    </div>
    @Html.Raw(ViewBag.colJson["notes"])
</div>