﻿
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
        </label>
        <div class="col-lg-5 col-xl-4">
            <select class="bs-select form-control" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"]>
                <option value="">季別</option>
            
                    @for(int m=1;m<=4;m++)
                    {

                        string selected = "";
                        //if (ViewBag.defLang != null && ViewBag.data[ViewBag.defLang] != null)
                       
                            if (ViewBag.data != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() == m.ToString())
                            {
                                selected = " selected";
                            }
                      


                           <option value="@m.ToString()" @selected>@m.ToString()</option>                      
                     

                    }
             

            </select>
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>


