/*!
 * Forms
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 設定輸入框提示文字
/// ---------------------------------------------------------------------------
///
@mixin placeholder {

    &::-webkit-input-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}