/*!
 * Images
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 圖片自動適應
/// ---------------------------------------------------------------------------
//
/// @group Image
///
@mixin image-fluid {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

/// ---------------------------------------------------------------------------
/// 設定元素圖片
/// ---------------------------------------------------------------------------
///
/// @param {String} $image
/// @param {Number} $width
/// @param {Number} $height
/// @group Image
///
@mixin image($image, $width, $height) {
    @include text-hide;
    width: $width;
    height: $height;
    background: $image no-repeat;
    background-size: 100% 100%;
}

/// ---------------------------------------------------------------------------
/// 設定視網膜圖片
/// ---------------------------------------------------------------------------
///
/// @param {String} $file-1x
/// @param {String} $file-2x
/// @param {Number} $width-1x
/// @param {Number} $height-1x
/// @group Image
///
@mixin image-retina($file-1x, $file-2x, $width-1x, $height-1x) {
    background-image: url($file-1x);

    @media only screen and (min-resolution: 192dpi), 
        only screen and (min-resolution: 2dppx) {
        background-image: url($file-2x);
        background-size: $width-1x $height-1x;
    }
}
