/* -----------------------------------------
   Base styles
----------------------------------------- */

.wrapper {
    overflow: hidden;
}

a,
button {
    outline: none;
    
}
.btn{
    i{
        line-height: $line-height-base;
    }
}
.btn-lg{
    i{
        line-height: $line-height-lg;
    }
}
.border-box {
    box-sizing: border-box!important;
}

// 自訂
.imgFill {
    display: block;
    height: 100%;
    width: 100%;
}
.thumb{
    display: inline-block;
}
.o-h {
    overflow: hidden;
}

.line-b {
    border-bottom: 1px solid $input-border-color;
}

.i-o {
    opacity: 0.3;
}

.min-w-select {
    min-width: 110px;
}

.left-width {
    width: $left-width;
    .max-md-size .page-header & {
        width: inherit;
    }
}

.text-break-all {
    word-break: break-all;
}

.text-break-word {
    word-break: break-word;
}

.text-pre-line {
    white-space: pre-line!important;
}

.no-focus {
    border-color: inherit!important;
    box-shadow: inherit!important;
}

.badge-num {
    width: 22px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    font-weight: normal;
}

.accordion-hover-btn {
    position: relative;
}

.t-d-none {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

hr {
    @include media-breakpoint-down(xs) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.container-lg {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-md {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.center {
    position: absolute;
    left: 50%;
    top: 70%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        font-weight: normal;
    }
.html {
    line-height: 1.8rem;
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        color: #000;
        line-height: 2.5rem;
        font-weight: normal;
        @include media-breakpoint-down(lg) {
            line-height: 2rem;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        color: inherit;
    }
    br {
        line-height: 1.5rem;
        @include media-breakpoint-down(md) {
            line-height: 1rem;
        }
    }
    text-align: justify;
}
// [data-imgLiquid-fill='true']{
//     opacity: 0!important;
//     transition: opacity 1.5s ease;
//     display: block;
//     img{
//         opacity: 0;
//         transition: opacity .5s ease;
//     }
    
// }
// .img-loaded{
//     opacity: 1!important;
//     transition: opacity 1.5s ease;
//     img{
//         opacity: 1;
//     } 
// }
.noscroll{
    overflow: hidden;
    height: 100vh;
    
   
}
