@import url('fonts/css/fontello.css');

@import "config/_reset.scss";
@import "config/_common.scss";

body{
    background-color: #f1f1f1;
    font-family: "fontello", "Microsoft JhengHei";
    // line-height: 1em;
}
p,
td,
div{
    font-family: "Microsoft JhengHei";
}

/* ==========================================================================
* report
 ==========================================================================*/
.A4{
    background-color: white;
    margin: 0 auto;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 80px;
    overflow-y: scroll;
}

.A4::-webkit-scrollbar{
    display: none;
}

.A4{
    width: 1070px;
    height: 1514px;
    margin-bottom: 0.5cm;
}

.A4 > *:not(.head),
.A4 > *:not(.header){
    width:890px;
    margin-left:auto;
    margin-right:auto;
    // padding-left: 90px;
    // padding-right: 90px;
}
.A4{
    .head,.header{
        width:100%;padding-left:90px;padding-right:90px;
    }
}

.A4-nomodify{
    background: white;
    display: block;
    margin: 0 auto;
}

.A4-nomodify{
    width: 1070px;
    height: 1514px;
    margin-bottom: 0.5cm;
}

.height-150{height:150px;}

#FollowUpSchedule{
    & + .A4{padding-bottom:0;}
}

@media print {
    @page {
        size: A4 portrait;
    }
    .page-break-after{
        page-break-after: always;
    }
    .category-height{height:100px;}
}

@media print{
    body{
        margin: 0;
        padding: 0;
    }

    .A4{
        width: 1070px;
        // min-height: 1514px;
        min-height:1400px;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        width: auto;
        height: auto;
        page-break-before: always;
        overflow-y: hidden;
    }

    .A4 > *:not(.head),
    .A4 > *:not(.header){
        width:890px;
        margin-left:auto;
        margin-right:auto;
        padding-left:0;
        padding-right:0;
        // padding-left: 90px;
        // padding-right: 90px;
    }

    .A4{
        .head,.header{
            width:100%;padding-left:90px;padding-right:90px;
        }
    }

    .A4-nomodify{
        width: 1070px;
        // min-height: 1514px;
        min-height:1400px;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        width: auto;
        height: auto;
    }

    .noprint{
        display: none;
    }

    .enable-print{
        display: block;
    }
}

@page :left{
    margin-left: 0cm;
}

@page :right{
    margin-left: 0cm;
}

@page :left{
    @bottom-left{
        content: "Page " counter(page) " of " counter(pages);
    }
}

.footholder{
    width: 100%;
    height: 100px;
}

/* ==========================================================================
  * report 共用 [page] [footer]
   ==========================================================================*/
.report{
    .print-Box{
        &.page{
            .footer{
                position: absolute;
                width: 100%;
                bottom: 30px;
                text-align: center;
                margin-top: auto;
            }
            .footerH{
                position: relative;
            }
        }
    }
}

.footerholder{
    height: 100px;
}

/* ==========================================================================
* reportPrint
 ==========================================================================*/
h1,
h2,
h3,
h4,
h5{
    page-break-after: avoid;
    font-family: "Microsoft JhengHei";
}

.reportPrint{
    width: 1070px;
    position: relative;
    margin: auto;
    color: #000000;
    .print-Box{
        page-break-after: always;
    }
    .head{
        position: relative;
        font-size: 15px;
        // background: #fff8ea;
        // margin-bottom: 40px;
        // padding: 20px 10px;
        // height: 105px;
        height:60px;
        display: flex;
        justify-content: center;
        .block{
            padding: 0 20px;
            float: left;
            ul{
                > li + li{
                    margin-top: 5px;
                }
            }
            & + .block{
                border-left: 1px solid #dcdcdc;
            }
        }
    }
    .head-template{
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .head__logo{
        width: 180px;
    }
    .A4{
        .head + .page-data{
            .title{margin-top:0;}
        }
        .head + .title{margin-top:0 !important;}
    }
}

@media print{
    .reportPrint .head{
        display: block;
    }
    .reportPrint .head .block{
        float: left;
    }
}

/* ==========================================================================
* report [page-front] 封面
 ==========================================================================*/
.report{
    #page-front{
        background-image: url(images/page-front-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 0;
        position: relative;
        .id{
            top: 120px;
            left: 120px;
            font-size: 20px;
            color: #ffffff;
            width: 200px;
            position: absolute;
            em{
                font-size: 30px;
                margin-left: 5px;
            }
        }
        .title{
            position: absolute;
            top: 110px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: #ffffff;
            img{
                width: 350px;
                height: auto;
            }
            h1{
                margin-top: 60px;
                margin-bottom: 30px;
                font-size: 65px;
                line-height: normal;
            }
            h2{
                font-size: 30px;
                position: relative;
                margin-bottom: 30px;
                line-height: normal;
            }
            p{
                color: #ffffff;
            }
        }
        .txt{
            width: 300px;
            text-align: right;
            bottom: 150px;
            right: 100px;
            left: inherit;
            padding-bottom: 20px;
            position: absolute;
            line-height: 2;
            color: #5e5e5e;
            p{
                strong{
                    color: #000000;
                }
            }
            p:last-child{
                margin-bottom: 0;
            }
            h3{
                font-size: 30px;
                line-height: 1.3em;
                font-family: "DejaVu Serif", Georgia, serif;
                margin-bottom: 25px;
                em{
                    font-style: normal;
                    font-size: 20px;
                    display: block;
                }
            }
        }
        .qrcode{
            position: relative;
            padding-top: 30px;
            margin-top: 30px;
        }
        .address{
            position: absolute;
            bottom: 150px;
            left: 100px;
            .logo{
                width: 200px;
                margin-bottom: 15px;
            }
            p{
                margin-left: 40px;
                line-height: 1em;
                color: #323232;
            }
        }
    }
}

/* ==========================================================================
* report共用 [page][header]
==========================================================================*/
.report{
    .page{
        > .print-Box{
            padding: 0;
            .page-head{
                position: absolute;
                left: 50px;
                top: 25px;
            }
        }
        .print-Box{
            &.page{
                .header{
                    padding-left: 90px;
                    .num{
                        padding-top: 100px;
                        color: #000000;
                        font-size: 60px;
                        font-family: Roboto, sans-serif;
                        position: relative;
                        margin-bottom: 40px;
                        &:after{
                            content: "";
                            background-color: #c8c8c8;
                            height: 3px;
                            width: 130px;
                            position: absolute;
                            bottom: -25px;
                            left: 0;
                            z-index: 2;
                        }
                        &:before{
                            content: "";
                            background-color: #a76f1f;
                            height: 5px;
                            width: 60px;
                            position: absolute;
                            bottom: -25px;
                            left: 0;
                            z-index: 3;
                        }
                    }
                    h2{
                        font-weight: bold;
                        position: relative;
                        z-index: 1;
                        span{
                            font-weight: normal;
                            font-family: Roboto, sans-serif;
                            display: block;
                            line-height: 1.8em;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
* report 共用 [page] [text]
==========================================================================*/
.report{
    .line{
        border-bottom: 1px solid #e4d4bb;
        padding: 0 0 15px 0;
    }
    .lineb{
        border-bottom: 1px solid #a76f1f;
    }
    .mr{
        padding-bottom: 50px;
        margin-bottom: 70px;
    }
}

/* ==========================================================================
* report 共用 [page] [page-1]
==========================================================================*/
.report{
    .page-1{
        .box-1{
            .colTtop{
                &:first-child{
                    margin-right: 80px;
                }
                .line{
                    padding-right: 30px;
                }
            }
        }
    }
}

/* ==========================================================================
* [page] [page-body] 人體模型
 ==========================================================================*/
#page-body{
    .headerbox{
        padding-top: 50px;
        margin-bottom: 30px;
        display: flex;
    }
    .title{
        color: #000000;
        font-size: 30px;
        line-height: 40px;
        padding-left: 110px;
        padding-right: 20px;
        margin-bottom: 0;
        font-weight: bold;
        margin-top: 10px;
        &:before{
            display: none;
        }
        p{
            font-size: 20px;
        }
    }
    .txt{
        padding: 20px;
        border-bottom: 1px solid #aaa;
    }
    .sub{
        font-size: 18px;
        line-height: 30px;
        width: 700px;
        padding-left: 35px;
        padding-right: 100px;
        margin: 10px;
        border-left: 1px solid #dcdcdc;
    }
    .contact-box{
      p{
        & + p{padding-top:10px;}
      }
    }
    .main{
        background-color: #fafafa;
        clear: both;
        height: 100%;
        width: 100%;
        .inner{
            color: #323232;
            font-size: 20px;
            font-weight: bold;
            position: relative;
            .dollbody{
                padding-top: 130px;
                text-align: center;
                z-index: -1;
                img{
                    width: 650px;
                    height: auto;
                }
            }
            .leftbox,
            .rightbox{
                div{
                    p{
                        font-weight: normal;
                        padding-top: 10px;
                    }
                }
            }
            .box{
                position: absolute;
                .inner-txt{
                  background: #fafafa;
                  position: relative;
                  z-index: 1;
                  padding: 0 10px;
                  line-height: 1.2;
                  .tit{padding-right:5px;}
                  .en{font-size: 16px;display:inline-block;}
                }
            }
        }
        .dots{list-style: none;color:#fff;margin-left:0;
          li{width:10px;height:10px;background-color: currentColor;border-radius: 10px;margin:0 3px;display:none;
          }
          &.green{color:#00B050;
            li{display:none;
              &:nth-of-type(4){display:inline-block;}
            }
          }
          &.yellow{color:#ffff00;
            li{display:none;border:1px solid #E2E60F;
              &:nth-of-type(3),&:nth-of-type(4){display:inline-block;}
            }
          }
          &.orange{color:#F79646;
            li{display:inline-block;
              &:nth-last-of-type(1){display:none;}
            }
          }
          &.red{color:#FF0000;
            li{display:inline-block;}
          }
        }
        .inner-description{padding-left:40px;padding-right:40px;margin-top:25px;
          .tit{font-size:22px;font-weight:bold;
            .en{font-size:16px;}
          }
          .description-table{margin-top:15px;width:100%;
            td{font-weight:bold;border:1px solid #ccc;padding:10px 10px 15px;color:#333;
              .td-in{display:flex; align-items: center; flex-direction: column;text-align:center;
                line-height:1.2;
                .dots{margin-bottom:10px;}
                .tt{font-size:18px;}
                .en{margin-top:5px;font-size:16px;}
              }
            }
          }

        }
        .inner{
            .leftbox{
                text-align: right;
                .left1{
                    width: 290px;
                    height: 120px;
                    display: block;
                    top: 85px;
                    left: 60px;
                }
                .left2{
                    width:210px;
                    height: 100px;
                    display: block;
                    top:220px;
                    left:90px;
                }
                .left3,
                .fe_left3{
                    width:220px;
                    height:120px;
                    display: block;
                    top:410px;
                    left: 90px;
                }
                .left4,
                .fe_left4{
                    width:220px;
                    height:120px;
                    display: block;
                    top:600px;
                    left: 90px;
                }
                .left5{
                    width:220px;
                    height: 120px;
                    display: block;
                    top: 750px;
                    left: 90px;
                }
            }
            .rightbox{
                text-align: left;
                .right1{
                    width:220px;
                    height:120px;
                    display: block;
                    top:155px;
                    right: 100px;
                }
                .right2,
                .fe_right2{
                    width: 220px;
                    height: 120px;
                    display: block;
                    top: 350px;
                    right: 100px;
                }
                .right3{
                    width: 220px;
                    height: 120px;
                    display: block;
                    top: 520px;
                    right: 100px;
                }
                .right4{
                    width: 220px;
                    height: 120px;
                    display: block;
                    top: 640px;
                    right: 100px;
                }
                .right5{
                    width: 220px;
                    height: 120px;
                    display: block;
                    top: 760px;
                    right: 100px;
                }
                .right6{
                    width: 220px;
                    height: 120px;
                    display: block;
                    top: 880px;
                    right: 100px;
                }
            }
        }
    }
}

@media print{
    #page-body{
        .headerbox{padding-top:0.5cm;display:block;
            .title{float:left;width:250px;padding-left:100px;}
            .sub{float:left;width:600px;padding-right:0;}
        }
        .main{
            .inner{
                .dollbody{padding-top:100px;}
                .leftbox{
                    text-align: right;
                    .left1{
                      width: 290px;
                      height: 120px;
                      display: block;
                      top: 55px;
                      left: 65px;
                  }
                  .left2{
                      width:210px;
                      height: 100px;
                      display: block;
                      top:190px;
                      left:90px;
                  }
                  .left3,
                  .fe_left3{
                      width:220px;
                      height:120px;
                      display: block;
                      top:380px;
                      left: 90px;
                  }
                  .left4,
                  .fe_left4{
                      width:220px;
                      height:120px;
                      display: block;
                      top:570px;
                      left: 90px;
                  }
                  .left5{
                      width:220px;
                      height: 120px;
                      display: block;
                      top: 720px;
                      left: 90px;
                  }
                }
                .rightbox{
                    text-align: left;
                    .right1{
                      width:220px;
                      height:120px;
                      display: block;
                      top:125px;
                      right: 100px;
                  }
                  .right2,
                  .fe_right2{
                      width: 220px;
                      height: 120px;
                      display: block;
                      top: 320px;
                      right: 100px;
                  }
                  .right3{
                      width: 220px;
                      height: 120px;
                      display: block;
                      top: 490px;
                      right: 100px;
                  }
                  .right4{
                      width: 220px;
                      height: 120px;
                      display: block;
                      top: 610px;
                      right: 100px;
                  }
                  .right5{
                      width: 220px;
                      height: 120px;
                      display: block;
                      top: 730px;
                      right: 100px;
                  }
                  .right6{
                      width: 180px;
                      height: 100px;
                      display: block;
                      top: 850px;
                      right: 100px;
                  }
                }

            }
            .inner-description{margin-top:20px;
              .description-table{margin-top:25px;
                td{font-weight:500;}
              }
            }
        }
    }
}

/*--- [males] 男性的線段 ---*/
#page-body{
    .main{
        .inner{
            .leftbox{
                .left1{
                    &:before{
                        content: url(images/line_left_top.png);
                        position: absolute;
                        top:10px;left:250px;
                    }
                }
                .left2{
                    &:before{
                        content: url(images/line_left1.png);
                        position: absolute;
                        top:0;
                        left: 183px;
                    }
                }
                .left3{
                    &:before{
                        content: url(images/line_left_top.png);
                        position: absolute;
                        top:11px;
                        left: 193px;
                    }
                }
                .left4{
                  &:before{
                      content: url(images/line_left1.png);
                      position: absolute;
                      top:-5px;
                      left:225px;
                  }
              }
            }
            .rightbox{
              .right1{
                &:before{
                  content:url(images/line_right1.png);
                  position:absolute;
                  height:2px;width:260px;
                //   border-top:dashed 2px #747474;
                  top:10px;
                  left:-200px;
                //   transform:rotate(145deg);
                }
              }
              .right2{
                &:before{
                  content: url(images/line_left1.png);
                  position: absolute;
                  left:-160px;
                  top:-4px;
                }
              }
            }
        }
    }
}

/*--- [females] 女性的線段 ---*/
#page-body{
  .main{
    .inner{
      .leftbox{
        .fe_left3{
          &:before{
            content: url(images/line_left3.png);
            position: absolute;
            top: -6px;
            left: 190px;}
          }
        }
        .fe_left4{
          &:before{
            content: url(images/line_left4-2.png);
            position: absolute;
            top: -20px;
            left: 190px;
          }
        }
        .fe_left5{
          &:before{
            content: url(images/line_left5-2.png);
            position: absolute;
            top: -55px;
            left: 190px;
          }
        }
      }
    }
}


/* ==========================================================================
* [page] [page-catalog] 目錄
 ==========================================================================*/
#page-catalog{
    &.A4-nomodify{height:auto;}
  .headerbox{
      width: 80%;
    //   height: 90px;
      margin: 0 auto;
      padding-top: 100px;
    //   padding-bottom: 50px;
      margin-bottom: 50px;
      border-bottom: 5px solid #dcdcdc;
      color: #323232;
      font-size: 37px;
      font-weight: bold;
      .en{font-size:28px;}

  }
  .main{
    // width: 90%;
    width:850px;
    margin: 0 auto;
    padding-bottom:2cm;
    .title{
      font-size: 17px;
      font-weight: bold;
      color: #ff8b3c;
      margin-bottom: 0;
      padding-left:10px;
    }
    .pagenum{float:right;color:#323232;font-weight:normal;padding-right:10px;}
    .list{
      line-height: 2;
      font-size: 17px;
      >.subtitle{padding-left: 47px;}
      >.item{
        padding-left: 55px;
      }
    }
  }
  div+.title{
    border-top: 2px solid #d2d2d2;margin-top:5px;padding-top:5px;
  }
}


/* ==========================================================================
* tableList各頁面設定
 ==========================================================================*/
 .report{
     .print-Box{
        &.page{font-size:18px;
            .header{
                position: relative;
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: cover;
                min-height: 360px;
                .num{
                    padding-top: 70px;
                    color: #000000;
                    font-size: 60px;
                    font-family: Roboto, sans-serif;
                    position: relative;
                    margin-bottom: 40px;
                    line-height:1;
                    &:after{
                        content: '';
                        background-color: #c8c8c8;
                        height: 3px;
                        width: 130px;
                        position: absolute;
                        bottom: -25px;
                        left: 0;
                        z-index: 2;
                    }
                    &:before{
                        content: '';
                        background-color: #a76f1f;
                        height: 5px;
                        width: 60px;
                        position: absolute;
                        bottom: -25px;
                        left: 0;
                        z-index: 3;
                    }
                }
                h2{
                    font-weight: bold;
                    position: relative;
                    z-index: 1;
                    line-height:normal;
                    span{
                        font-weight: normal;
                        font-family: Roboto, sans-serif;
                        display: block;
                        line-height: 1.8em;
                    }
                }
            }
            .header-1{
                background-image: url(images/page-1-header.jpg);
            }
            .header-2{
                background-image: url(images/page-2-header.jpg);
                min-height:500px;
                .num{padding-top:50px;}
                .header_script{width:62%;}
            }
            .header-3{
                background-image: url(images/page-3-header.jpg);
                min-height:500px;
                .num{padding-top:50px;}
                .header_script{width:62%;}
            }
            .header-4{
                background-image: url(images/page-4-header.jpg);
                // min-height:250px;
                // .num{padding-top:50px;}
            }
            .header-5{
                background-image: url(images/page-5-header.jpg);
            }
            .header-6{
                background-image: url(images/page-6-header.jpg);
            }
            .header-7{
                background-image: url(images/page-7-header.jpg);
            }
            .header-8{
                background-image: url(images/page-8-header.jpg);
            }
            .header-9{
                background-image: url(images/page-9-header.jpg);
            }
            .header-10{
                background-image: url(images/page-10-header.jpg);
                min-height:500px;
                background-size:contain;
                background-position:center top;
                .num{padding-top:50px;}
                .header_script{width:62%;}
            }
            .title{font-size:25px;font-weight:bold;line-height:1.3;margin-bottom:20px;margin-top:40px;
                .icon-title{margin-right:10px;font-size:32px;}
                .en{font-size:20px;padding-left:10px;}
            }
        }
        .picgroup{margin-top:40px;
            img{max-width:100%;}
            &.pic-even{//display:flex;flex-wrap:wrap; justify-content: center;
                img{max-width:400px;max-height:400px;margin:0 25px 40px;}
            }
            &.pic-1{height:1200px;
                img{max-width:890px;max-height:1200px;margin:auto;}
            }
        }
        .hasbottomBg{
            background-image:url(images/page-bg.jpg);
            background-position: left bottom;
            background-repeat:no-repeat;
        }
    }
}

.reportUl{margin:0 auto;border-top:2px solid #3d93d2;border-bottom:2px solid #3d93d2;padding:15px 25px!important;background:#ebf4fa;
    list-style-type: none;width:890px;
    li{position:relative;padding-left:20px;line-height:normal;
        &:before{content:'';width:8px;height:8px;border-radius:50%;background:#3d93d2;display:block;position:absolute;left:0;top:7px;}
        & + li{margin-top:5px;}
    }
}

.table-block{page-break-after:auto;
    > div{page-break-after:auto;page-break-before:auto;}
}

.tableList{width:890px;line-height:normal;margin-left:auto;margin-right:auto;
    th{padding: 10px;font-weight:bold;vertical-align: middle;
        .en{display:block;font-size:15px;}
    }
    td{padding: 10px 15px;line-height:1.3;vertical-align: middle;
        .en{display:block;font-size:15px;padding-top:2px;}
    }
    &.row-4{
        th, td{width:18%;text-align:center;
            &:nth-of-type(1){width:40%;}
            &:nth-of-type(4){width:24%;}
        }
        td{
            &:nth-of-type(1){text-align:left;}
        }
    }
    &.row-5{
        th{
            .en{font-size:15px;}
        }
        th,td{width:20% !important;text-align:center;}
    }
    &.row-2{
        th,td{width:50%;}
    }
}


.border-top-brown{border-top: 2px solid #a76f1f;}

.page-brown, .page-1, .page-4, .page-7{
    .header{
        .num{
            &:before{background-color:#A76F1F !important;}
        }
    }
    .title{
        .icon-title{color:#A76F1F;}
        + div{
            .tableList{
                border-top: 2px solid #a76f1f;
            }
        }
    }
    .tableList{border-bottom: 2px solid #a76f1f;
        th{background-color:#f7f1e0;}
        td{background-color: #fefbf4;}
    }

    .reportUl{border-top:2px solid #A76F1F;border-bottom:2px solid #A76F1F;background:#fefbf4;
        li{
            &:before{background:#A76F1F;}
        }
    }
}

.page-green, .page-2, .page-5{
    .header{
        .num{
            &:before{background-color:#619034 !important;}
        }
    }
    .title{
        .icon-title{color:#619034;}
        & + div{
            .tableList{
                border-top: 2px solid #619034;
            }
        }
    }
    .tableList{border-bottom:2px solid #619034;
        th{background:#e1f1d4;}
        td{background:#f2f8f0;}
    }

    .reportUl{border-top:2px solid #619034;border-bottom:2px solid #619034;background:#f2f8f0;
        li{
            &:before{background:#619034;}
        }
    }
}

.page-blue, .page-3, .page-6, .page-8{
    .header{
        .num{
            &:before{background-color:#3d93d2 !important;}
        }
    }
    .title{
        .icon-title{color:#3d93d2;}
        & + div{
            .tableList{
                border-top: 2px solid #3d93d2;
            }
        }
    }

    .tableList{border-bottom:2px solid #3d93d2;
        th{background:#d2e6f5;}
        td{background:#ebf4fa;padding:12px 15px;}
    }

    .reportUl{border-top:2px solid #3d93d2;border-bottom:2px solid #3d93d2;background:#ebf4fa;
        li{
            &:before{background:#3d93d2;}
        }
    }
}

.page-purple, .page-9, .page-10{
    .header{
        .num{
            &:before{background-color:#8a80b0!important;}
        }
    }
    .title{
        .icon-title{color:#8a80b0;}
        & + div{
            .tableList{
                border-top: 2px solid #8a80b0;
            }
        }
    }

    .tableList{border-bottom:2px solid #8a80b0;
        th{background:#e1deeb;}
        td{background:#f8f7fa;padding:12px 15px;}
    }

    .reportUl{border-top:2px solid #8a80b0;border-bottom:2px solid #8a80b0;background:#f8f7fa;
        li{
            &:before{background:#8a80b0;}
        }
    }
}


.page-1{
    .tableList{
        td{
            width: 25%;
            background-color: #fefbf4;
            text-align:left;
            &:nth-of-type(odd){background-color:#f7f1e0;text-align:center;padding:10px;}
            &:nth-of-type(2){width:auto;}
        }
    }
}

.page-2, .page-5{
    .tableList{
        td{padding:12px 15px;}
    }
}

.page-3{
    .title{
        .en{display:block;padding-left:45px !important;}
    }
}



.page-4{
    .tableList{
        td{background-color: #fefbf4;text-align:center;padding:7px 15px;}
    }
}

.page-5{
    .tableList{line-height:1.2;
        td{padding:7px 15px;}
    }

}

.page-6{
    .tableList{
        &.row-2{
            th{width:35% !important;}
        }
    }
    .reportUl{border:0;background:none;margin-top:20px;}
}

.page-8{
    .reportUl{border-bottom:0;}
    .page-data{
        &:nth-last-of-type(1){
            .reportUl{border-bottom:2px solid #3d93d2;}
        }
    }

}
.page-10{
    .tableList{
        &.row-2{
            th{text-align:left;}
            th,td{vertical-align: top;}
        }
    }
}

.sub{
    font-size: 15px;
}


#page-back{background:#fff url(images/page-back-bg.jpg) center center no-repeat;background-size:cover;}