﻿/*!
 * Align
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */

.align 
{
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-justify  { 
        text-align: justify;
    }

    &-baseline {
        vertical-align: baseline;
    }

    &-top {
        vertical-align: top;
    }

    &-middle {
        vertical-align: middle;
    }

    &-bottom {
        vertical-align: bottom;
    }

    &-text-bottom {
        vertical-align: text-bottom;
    }

    &-text-top {
        vertical-align: text-top;
    }
}
