﻿/*!
 * Text
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */

.text 
{
    &-italic {
        font-style: italic;
    }

    &-bold {
        font-weight: bold;
    }

    &-normal { 
        font-weight: normal;
    }

    &-overline {
        text-decoration: overline;
    }

    &-underline {
        text-decoration: underline;
    }

    &-through {
        text-decoration: line-through;
    }

    &-none {
        text-decoration: none;
    }

    &-lowercase {
        text-transform: lowercase;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-nowrap { 
        white-space: nowrap; 
    }

    &-truncate { 
        @include text-truncate;
    }

    &-hide { 
        @include text-hide;
    }
}
