/*!
 * Lists
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 傳回清單中的第一個元素
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @return {*}
/// @group List
///
@function first($list) {
    @return nth($list, 1);
}

/// ---------------------------------------------------------------------------
/// 傳回清單中的最後一個元素
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @return {*}
/// @group List
///
@function last($list) {
    @return nth($list, length($list));
}

/// ---------------------------------------------------------------------------
/// 傳回清單中的最後一個索引
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {*} $value
/// @return {Number}
/// @group List
///
@function last-index($list, $value) {
    @for $i from length($list) * -1 through -1 {
        @if nth($list, abs($i)) == $value {
            @return abs($i);
        }
    }
    @return null;
}

/// ---------------------------------------------------------------------------
/// 傳回清單中指定的元素，如果找不到則傳回指定值。
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {number} $index
/// @param {*} $or
/// @return {*}
/// @group List
///
@function nth-or($list, $list, $or) {
    $value: nth($list, $list);
    $value: if($value, $value, $or);
    @return $value;
}

/// ---------------------------------------------------------------------------
/// 從清單中的最前方附加元素
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {*} $value
/// @return {List}
/// @group List
///
@function prepend($list, $value) {
    @return join($value, $list);
}

/// ---------------------------------------------------------------------------
/// 從清單的特定位置之後插入元素
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {Number} $index
/// @param {*} $value
/// @return {List}
/// @group List
///
@function insert-nth($list, $index, $value) {
    $result: null;

    @if type-of($index) != number {
        @warn "$index: #{quote($index)} is not a number for `insert-nth`.";
    }

    @else if $index < 1 {
        @warn "List index 0 must be a non-zero integer for `insert-nth`";
    }

    @else if $index > length($list) {
        @warn "List index is #{$index} but list is only #{length($list)} item long for `insert-nth'.";
    }

    @else {
        $result: ();

        @for $i from 1 through length($list) {
            @if $i == $index {
                $result: append($result, $value);
            }

            $result: append($result, nth($list, $i));
        }
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 取代清單中的元素
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {*} $old-value
/// @param {*} $new-value
/// @param {Bool} $recursive [false]
/// @return {List}
/// @group List
///
@function replace($list, $old-value, $new-value, $recursive: false) {
    $result: ();

    @for $i from 1 through length($list) {
        @if type-of(nth($list, $i)) == list and $recursive {
            $result: append($result, replace(nth($list, $i), $old-value, $new-value, $recursive));
        }

        @else {
            @if nth($list, $i) == $old-value {
                $result: append($result, $new-value);
            }

            @else {
                $result: append($result, nth($list, $i));
            }
        }
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 從清單的特定位置取代元素
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {Number} $index
/// @param {*} $value
/// @param {Bool} $recursive [false]
/// @return {List}
/// @group List
///
@function replace-nth($list, $index, $value) {
    $result: null;

    @if type-of($index) != number {
        @warn "$index: #{quote($index)} is not a number for `replace-nth`.";
    }

    @else if $index == 0 {
        @warn "List index 0 must be a non-zero integer for `replace-nth`.";
    }

    @else if abs($index) > length($list) {
        @warn "List index is #{$index} but list is only #{length($list)} item long for `replace-nth`.";
    }

    @else {
        $result: ();
        $index: if($index < 0, length($list) + $index + 1, $index);

        @for $i from 1 through length($list) {
            @if $i == $index {
                $result: append($result, $value);
            }

            @else {
                $result: append($result, nth($list, $i));
            }
        }
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 移除清單中的元素
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {*} $value
/// @param {Bool} $recursive [false]
/// @return {List}
/// @group List
///
@function remove($list, $value, $recursive: false) {
    $result: ();

    @for $i from 1 through length($list) {
        @if type-of(nth($list, $i)) == list and $recursive {
            $result: append($result, remove(nth($list, $i), $value, $recursive));
        }

        @else if nth($list, $i) != $value {
            $result: append($result, nth($list, $i));
        }
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 從清單的特定位置移除元素
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {Number} $index
/// @return {List}
/// @group List
///
@function remove-nth($list, $index) {
    $result: null;

    @if type-of($index) != number {
        @warn "$index: #{quote($index)} is not a number for `remove-nth`.";
    }

    @else if $index == 0 {
        @warn "List index 0 must be a non-zero integer for `remove-nth`.";
    }

    @else if abs($index) > length($list) {
        @warn "List index is #{$index} but list is only #{length($list)} item long for `remove-nth`.";
    }

    @else {
        $result: ();
        $index: if($index < 0, length($list) + $index + 1, $index);

        @for $i from 1 through length($list) {
            @if $i != $index {
                $result: append($result, nth($list, $i));
            }
        }
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 傳回清單的一部份
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {Number} $start
/// @param {Number} $end [last index of the $list]
/// @return {List}
/// @group List
///
@function slice($list, $start: 1, $end: length($list)) {
    $result: null;

    @if type-of($start) != number or type-of($end) != number {
        @warn "Either $start or $end are not a number for `slice`.";
    }

    @else if $start > $end {
        @warn "The start index has to be lesser than or equals to the end index for `slice`.";
    }

    @else if $start < 1 or $end < 1 {
        @warn "List indexes must be non-zero integers for `slice`.";
    }

    @else if $start > length($list) {
        @warn "List index is #{$start} but list is only #{length($list)} item long for `slice`.";
    }

    @else if $end > length($list) {
        @warn "List index is #{$end} but list is only #{length($list)} item long for `slice`.";
    }

    @else {
        $result: ();

        @for $i from $start through $end {
            $result: append($result, nth($list, $i));
        }
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 反轉清單順序
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {Bool} $recursive [false]
/// @return {List}
/// @group List
///
@function reverse($list, $recursive: false) {
    $result: ();

    @for $i from length($list)*-1 through -1 {
        @if type-of(nth($list, abs($i))) == list and $recursive {
            $result: append($result, reverse(nth($list, abs($i)), $recursive));
        }

        @else {
            $result: append($result, nth($list, abs($i)));
        }
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 將清單轉換為字串
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {String} $glue
/// @param {Bool} $is-nested [false]
/// @return {String}
/// @group List
///
@function stringify($list, $glue: '', $is-nested: false) {
    $result: null;

    @for $i from 1 through length($list) {
        $e: nth($list, $i);

        @if type-of($e) == list {
            $result: $result#{to-string($e, $glue, true)};
        }

        @else {
            $result: if($i != length($list) or $is-nested, $result#{$e}#{$glue}, $result#{$e});
        }
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 遞迴清單
/// ---------------------------------------------------------------------------
///
/// @param {List} $list
/// @param {Number} $value
/// @return {List}
/// @group List
///
@function loop($list, $value: 1) {
    $result: ();

    @for $i from 0 to length($list) {
        $result: append($result, nth($list, ($i - $value) % length($list) + 1));
    }

    @return $result;
}
