/* -------------------------------------------
 *  shown / hidden
 * ------------------------------------------ */

 @media screen and (min-width: 1200px) {
    .shown-1199 {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .shown-991 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .shown-767 {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .shown-479 {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .hidden-1199 {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .hidden-991 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .hidden-767 {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .hidden-479 {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .hide-p-up {
      display: none !important;
    }
  }

  @media screen and (min-width: 1025px) {
    .hide-t-up {
      display: none !important;
    }
  }

  @media screen and (max-width: 577px) {
    .hide-p-under {
      display: none !important;
    }
  }

  @media screen and (max-width: 1025px) {
    .hide-t-under {
      display: none !important;
    }
  }

  @media screen and (max-width: 768px) {
    .hide-t-p-under {
      display: none !important;
    }
  }
/* -------------------------------------------
 *  typograpy
 * ------------------------------------------ */

 .f0 {
    font-size: 0;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.f19 {
    font-size: 19px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

// @media screen and (max-width: 479px) {
//     .f22 {
//         font-size: 20px;
//     }
// }

.f24 {
    font-size: 24px;
}

// @media screen and (max-width: 479px) {
//     .f24 {
//         font-size: 22px;
//     }
// }

.f25 {
    font-size: 25px;
}

// @media screen and (max-width: 479px) {
//     .f25 {
//         font-size: 22px;
//     }
// }

.f28 {
    font-size: 28px;
}

// @media screen and (max-width: 767px) {
//     .f28 {
//         font-size: 25px;
//     }
// }

// @media screen and (max-width: 479px) {
//     .f28 {
//         font-size: 22px;
//     }
// }

.f30{font-size:30px;}

.t-left {
    text-align: left;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.fw-900 {
    font-weight: 900;
}

.fw-800 {
    font-weight: 800;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.lh-normal{line-height:normal;}

.lh-100 {
    line-height: 1;
}

.lh-120 {
    line-height: 1.2;
}

.lh-150 {
    line-height: 1.5;
}

.lh-175 {
    line-height: 1.75;
}

.lh-200 {
    line-height: 2;
}

.ls-005 {
    letter-spacing: 0.05em;
}

.ls-01 {
    letter-spacing: 0.1em;
}

.tc-wBlue {
    color: #01ABDF;
}

.tc-mBlue {
    color: #00539B;
}

.tc-black {
    color: #000000;
}

.tc-gray {
    color: #808080;
}

.tc-lightGray {
    color: #676767;
}

.tdeco-none {
    text-decoration: none;
}

.tt-none {
    text-transform: none;
}

.c-gray333{color:#333333;}

.fw-bold{font-weight:bold;}
.mt-40{margin-top:40px;}
.mt-20{margin-top:20px;}
.mb-20{margin-bottom:20px;}