@charset 'utf-8';

/* -------------------------------------------
 *  reset
 * ------------------------------------------ */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
 acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
 sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
 caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
 footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-family: inherit;
     font-size: inherit;
     font-weight: inherit;
     font-style: inherit;
     vertical-align: baseline;
 }

 header, main, footer, article, aside, details, figcaption, figure, hgroup, menu, nav, section,
 address, fieldset, legend {
     display: block;
 }

 blockquote, q {
     quotes: none;
 }

 blockquote:before, blockquote:after, q:before, q:after {
     content: none;
 }

 table {
     border-collapse: collapse;
     border-spacing: 0;
     -webkit-backface-visibility: visible;
     -moz-backface-visibility: visible;
     backface-visibility: visible;
 }

 a {color: inherit; }

 a, a:hover, a:active, a:focus, a:visited {
     text-decoration: none;
     outline: 0;
     outline-offset: 0px;
 }

 a[role="button"] {
     user-select: none;
 }

 b, strong {
     font-weight: 700;
 }

 i, em {
     font-style: italic;
 }

 s,
 strike {
     text-decoration: line-through;
 }

 ul {
     margin-left: 1.15em;
 }

 ol {
     margin-left: 1.1em;
 }

 img {
     max-width: 100%;
     height: auto;
     border: none;
     outline: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     user-select: none;
 }

 .chrome img {
     image-rendering: -webkit-optimize-contrast;
 }

 div, button, input, select, textarea, a {
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 button, input, select, textarea {
     font-family: inherit;
     font-size: inherit;
     margin: 0;
     color: inherit;
 }

 button, input {
     margin: 0;
     padding: 0;
     border: none;
     outline: none;
     background: none;
     border-radius: 0;
     color: inherit;
 }

 button {
    display: inline-block;
}

 button, select {
     text-transform: none;
 }

 button, input[type="button"], input[type="reset"], input[type="submit"] {
     -webkit-appearance: none;
     -moz-appearance: none;
     cursor: pointer;
 }

 button[disabled],html input[disabled] {
     cursor: default;
 }

 input[type="search"] {
     -webkit-appearance: textfield;
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
 }

 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
     -moz-appearance: none;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     display: none;
     -webkit-appearance: none;
     margin: 0;
 }

 input[type=number] {
     -moz-appearance: textfield;
 }

 button::-moz-focus-inner,
 input::-moz-focus-inner {
     border: 0;
     padding: 0;
 }

 textarea {
     width: 100%;
     resize: none;
 }

 figure, address,
 fieldset, legend {
     margin: 0;
     padding: 0;
 }

 * {
     min-width: 0;
     min-height: 0;
 }

 *, *:focus {
     outline: 0;
 }

 *, *::before, *::after, *:before, *:after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 /* -------------------------------------------
 *  basic
 * ------------------------------------------ */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    height: 100%;
}

html.body-fixed {
    overflow: hidden;
}

body {
    background-color: #ffffff;
    overflow: visible;
    color: #000000;
    font-family: "Muli", "Source Sans Pro", "Heiti TC", "Microsoft JhengHei", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 479px) {
    body {
        font-size: 16px;
    }
}

a {
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

[class^="icon-"]:before, [class*=" icon-"]:before {margin:0;}