@charset "UTF-8";
/*!
 * Plugins
 *
 * @version 1.0.0 2018/01/01 00:00
 * @author Jean <Jean@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */
/**-- bootstrap-select.js  bootstrap3改4用---------------------------- */
.bs-select .btn:hover, .bs-select .btn:focus, .bs-select .btn:active {
  color: inherit !important;
  background-color: inherit !important;
  -webkit-box-shadow: inherit !important;
  box-shadow: inherit !important; }

.bs-select .btn-outline-light.dropdown-toggle {
  color: inherit !important;
  background-color: inherit !important;
  border-color: #dee2e6; }

.bs-select .bs-caret {
  display: none; }

.bs-select .dropdown-toggle {
  position: relative; }

.bs-select .btn-sm {
  height: 31px; }

.bs-select.show .dropdown-menu {
  max-height: 316px !important; }

.bs-select.show .inner {
  max-height: 272px !important; }

.bs-select.bootstrap-select.btn-group .dropdown-menu {
  margin-top: 0px;
  border: 1px solid #eee; }

.bootstrap-select.btn-group .dropdown-menu li.selected a,
.dropdown-menu a.selected {
  background: #e7505a !important;
  color: #fff; }

.bootstrap-select.btn-group li.hidden {
  display: none; }

/**-- clipboard.js---------------------------- */
.bd-clipboard {
  position: relative;
  display: none;
  float: right; }
  .bd-clipboard + .highlight {
    margin-top: 0; }

.btn-clipboard {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: .25rem; }
  .btn-clipboard:hover {
    color: #fff;
    background-color: #027de7; }

@media (min-width: 768px) {
  .bd-clipboard {
    display: block; } }

/**-- dataTables.js  ---------------------------- */
.dataTables_wrapper {
  padding-right: 0;
  padding-left: 0; }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_info {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    padding: 0 !important;
    margin-right: 10px; }
    .dataTables_wrapper .dataTables_length label,
    .dataTables_wrapper .dataTables_info label {
      margin: 0 !important; }
  .dataTables_wrapper .dataTables_info {
    line-height: 1.8rem; }
  .dataTables_wrapper .dataTables_filter {
    display: inline-block; }
    .dataTables_wrapper .dataTables_filter .icon-search {
      font-size: 1.8rem;
      color: #dee2e6;
      vertical-align: middle; }
  .dataTables_wrapper .page-link {
    height: 36px; }
  .dataTables_wrapper .disabled {
    opacity: 0.5; }
  .dataTables_wrapper .page-item.active .page-link {
    background-color: #e7505a;
    border-color: #e7505a; }
  .dataTables_wrapper table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse !important; }
  .dataTables_wrapper table.table-bordered.dataTable th,
  .dataTables_wrapper table.table-bordered.dataTable td {
    border-left-width: 1px; }
  .dataTables_wrapper table.table-bordered.dataTable th:last-child,
  .dataTables_wrapper table.table-bordered.dataTable th:last-child,
  .dataTables_wrapper table.table-bordered.dataTable td:last-child,
  .dataTables_wrapper table.table-bordered.dataTable td:last-child {
    border-right-width: 1px; }
  .dataTables_wrapper table.table thead > tr > th.sorting_asc,
  .dataTables_wrapper table.table thead > tr > th.sorting_desc,
  .dataTables_wrapper table.table thead > tr > th.sorting,
  .dataTables_wrapper table.table thead > tr > td.sorting_asc,
  .dataTables_wrapper table.table thead > tr > td.sorting_desc,
  .dataTables_wrapper table.table thead > tr > td.sorting {
    padding-right: 30px; }
  .dataTables_wrapper table.table thead > tr > th:active,
  .dataTables_wrapper table.table thead > tr > td:active {
    outline: none; }
  .dataTables_wrapper table.table thead .sorting,
  .dataTables_wrapper table.table thead .sorting_asc,
  .dataTables_wrapper table.table thead .sorting_desc,
  .dataTables_wrapper table.table thead .sorting_asc_disabled,
  .dataTables_wrapper table.table thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative; }
    .dataTables_wrapper table.table thead .sorting:before, .dataTables_wrapper table.table thead .sorting:after,
    .dataTables_wrapper table.table thead .sorting_asc:before,
    .dataTables_wrapper table.table thead .sorting_asc:after,
    .dataTables_wrapper table.table thead .sorting_desc:before,
    .dataTables_wrapper table.table thead .sorting_desc:after,
    .dataTables_wrapper table.table thead .sorting_asc_disabled:before,
    .dataTables_wrapper table.table thead .sorting_asc_disabled:after,
    .dataTables_wrapper table.table thead .sorting_desc_disabled:before,
    .dataTables_wrapper table.table thead .sorting_desc_disabled:after {
      font-family: 'icomoon' !important;
      position: absolute;
      bottom: 0.9em;
      display: block;
      opacity: 0.3;
      font-weight: normal; }
  .dataTables_wrapper table.table thead .sorting:before,
  .dataTables_wrapper table.table thead .sorting_asc:before,
  .dataTables_wrapper table.table thead .sorting_desc:before,
  .dataTables_wrapper table.table thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\e978"; }
  .dataTables_wrapper table.table thead .sorting:after,
  .dataTables_wrapper table.table thead .sorting_asc:after,
  .dataTables_wrapper table.table thead .sorting_desc:after,
  .dataTables_wrapper table.table thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\e979"; }
  .dataTables_wrapper table.table thead .sorting_asc:before,
  .dataTables_wrapper table.table thead .sorting_desc:after {
    opacity: 1; }
  .dataTables_wrapper table.table thead .sorting_asc_disabled:before,
  .dataTables_wrapper table.table thead .sorting_desc_disabled:after {
    opacity: 0; }
  @media (max-width: 991.98px) {
    .dataTables_wrapper .pagination {
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
      margin-top: 15px !important; } }

.table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%; }
  .table.dataTable > tbody > tr.child ul.dtr-details > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
    .table.dataTable > tbody > tr.child ul.dtr-details > li > * {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px; }
    .table.dataTable > tbody > tr.child ul.dtr-details > li .dtr-title {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
      min-width: 100px; }
    .table.dataTable > tbody > tr.child ul.dtr-details > li .dtr-data {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }

table.dataTable > tbody > tr.child ul.dtr-details > li {
  border: 0; }

/**--  maxlength.js  ---------------------------- */
.bootstrap-maxlength {
  margin-top: .5rem; }

/**--  multiselect.js  ---------------------------- */
.ms-container {
  width: 100%; }
  .ms-container .ms-list {
    /*border-radius: 0;*/ }
  .ms-container .search-input {
    margin-bottom: 5px; }
  .ms-container .ms-selectable li.disabled,
  .ms-container .ms-selection li.disabled {
    opacity: 0.6; }
  .ms-container .ms-optgroup-label {
    background-color: #eceeef;
    color: #000;
    font-size: 0.75rem; }
  .ms-container .ms-selectable li.ms-hover,
  .ms-container .ms-selection li.ms-hover {
    cursor: pointer;
    background-color: #e7505a !important; }
  .ms-container .ms-selectable li.ms-elem-selectable,
  .ms-container .ms-selection li.ms-elem-selection,
  .ms-container .ms-optgroup-label {
    padding: 5px 10px; }

.button-multiselect-box {
  margin-right: -25px; }
  .button-multiselect-box .btn {
    width: 100%;
    max-width: 166px;
    margin: 0; }
    .button-multiselect-box .btn:first-child {
      margin-right: 33px; }

/**--  select2.js  ---------------------------- */
.select2-container--classic .img-flag,
.select2-container--default .img-flag {
  height: 15px;
  width: 18px; }

.select2-container--classic .select2-selection--single,
.select2-container--default .select2-selection--single {
  height: 40px !important;
  padding: 5px;
  /*border-radius: 0;*/
  border-color: #D9D9D9 !important; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered i,
  .select2-container--default .select2-selection--single .select2-selection__rendered i {
    margin-right: .5rem; }

.select2-container--classic.select2-container--focus .select2-selection--multiple,
.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #CCC !important;
  outline: 0; }

.select2-container--classic.select2-container--focus,
.select2-container--default.select2-container--focus {
  outline: 0; }

.select2-container--classic .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
  min-height: 40px !important;
  padding: 5px 8px !important;
  border-color: #D9D9D9 !important; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice,
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 2px 6px !important;
    margin-top: 0 !important;
    background-color: #e7505a !important;
    border-color: #e7505a !important;
    color: #FFF;
    margin-right: 8px !important; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered,
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: block !important;
    padding: 0 !important; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove,
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF !important;
    float: right;
    margin-left: .5rem; }
  .select2-container--classic .select2-selection--multiple i,
  .select2-container--default .select2-selection--multiple i {
    position: relative;
    top: 1px;
    margin-right: .5rem;
    padding-left: 1px; }

.select2-container--classic .select2-selection--multiple[class*=bg-] .select2-selection__choice,
.select2-container--default .select2-selection--multiple[class*=bg-] .select2-selection__choice {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-color: rgba(0, 0, 0, 0.2) !important; }

.select2-container--classic .select2-results__options .select2-results__option i,
.select2-container--default .select2-results__options .select2-results__option i {
  margin-right: .5rem; }

.select2-container--classic .select2-results__options .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__options .select2-results__option[aria-selected=true] {
  background-color: #00B5B8 !important;
  color: #FFF !important; }

.select2-container--classic .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #E0E0E0 !important;
  color: #424242 !important; }

.select2-container--classic .select2-result-repository .select2-result-repository__avatar,
.select2-container--default .select2-result-repository .select2-result-repository__avatar {
  width: 22%;
  float: left; }
  .select2-container--classic .select2-result-repository .select2-result-repository__avatar img,
  .select2-container--default .select2-result-repository .select2-result-repository__avatar img {
    width: 75px; }

.select2-container--classic .select2-result-repository .select2-result-repository__meta,
.select2-container--default .select2-result-repository .select2-result-repository__meta {
  width: 78%;
  float: right; }

.select2-container--classic .select2-result-repository .select2-result-repository__meta .select2-result-repository__title,
.select2-container--default .select2-result-repository .select2-result-repository__meta .select2-result-repository__title {
  font-size: 1.35rem;
  font-weight: 700;
  text-transform: capitalize; }

.select2-container--classic .select2-result-repository .select2-result-repository__meta .select2-result-repository__statistics div,
.select2-container--default .select2-result-repository .select2-result-repository__meta .select2-result-repository__statistics div {
  display: inline;
  margin-right: 1rem; }

.select2-container--classic .select-lg,
.select2-container--default .select-lg {
  height: 3.91667rem !important;
  font-size: 1.25rem;
  margin-bottom: 0 !important;
  padding: .5rem 0; }

.select2-container--classic .select-lg.select2-selection--single .select2-selection__rendered,
.select2-container--default .select-lg.select2-selection--single .select2-selection__rendered {
  padding-top: .5rem;
  padding-left: 1.5rem;
  padding-right: 7rem; }

.select2-container--classic .select-lg.select2-selection--single .select2-selection__arrow:after,
.select2-container--default .select-lg.select2-selection--single .select2-selection__arrow:after {
  right: 1.5rem; }

.select2-container--classic .select-lg.select2-selection--multiple .select2-selection__choice,
.select2-container--default .select-lg.select2-selection--multiple .select2-selection__choice {
  padding: 0.35rem 1rem !important;
  font-size: 1.25rem; }

.select2-container--classic .select-lg.select2-selection--multiple .select2-search--inline .select2-search__field,
.select2-container--default .select-lg.select2-selection--multiple .select2-search--inline .select2-search__field {
  padding: .75rem 0;
  font-size: 1.25rem; }

.select2-container--classic .select-sm,
.select2-container--default .select-sm {
  height: 2.2rem !important;
  padding: 0;
  margin-bottom: 0 !important; }
  .select2-container--classic .select-sm.select2-selection--single .select2-selection__rendered,
  .select2-container--default .select-sm.select2-selection--single .select2-selection__rendered {
    padding-left: .5rem;
    padding-right: 5rem; }
  .select2-container--classic .select-sm.select2-selection--single .select2-selection__arrow:after,
  .select2-container--default .select-sm.select2-selection--single .select2-selection__arrow:after {
    right: .5rem; }
  .select2-container--classic .select-sm.select2-selection--multiple,
  .select2-container--default .select-sm.select2-selection--multiple {
    min-height: 2.2rem !important;
    padding: 5px !important; }
    .select2-container--classic .select-sm.select2-selection--multiple .select2-selection__choice,
    .select2-container--default .select-sm.select2-selection--multiple .select2-selection__choice {
      padding: 0.04rem 0.25rem !important;
      font-size: .675rem; }
    .select2-container--classic .select-sm.select2-selection--multiple .select2-search--inline .select2-search__field,
    .select2-container--default .select-sm.select2-selection--multiple .select2-search--inline .select2-search__field {
      padding: .25rem 0; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px !important;
  right: 6px !important; }

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  top: 1px !important;
  right: 2px !important;
  height: 96% !important; }

/**--  slimScroll.js  ---------------------------- */
.slimScrollBar {
  opacity: 0.1 !important; }

/**--  typeahead.js  ---------------------------- */
.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #eceeef;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-height: 120px;
  overflow-y: auto; }

.tt-suggestion {
  padding: 3px 20px;
  /*border-radius: 0;*/ }

.tt-suggestion:hover {
  cursor: pointer;
  background-color: #eceeef; }

.tt-suggestion.tt-cursor {
  background-color: #eceeef; }

.twitter-typeahead {
  width: 100%; }

@media (min-width: 576px) {
  .highlight {
    padding: 0.5rem !important; } }

.jstree-default .jstree-clicked {
  border: 0;
  background-color: #e1e1e1;
  -webkit-box-shadow: none;
  box-shadow: none; }

.jstree-default .jstree-hovered {
  border: 0;
  background-color: #eee;
  -webkit-box-shadow: none;
  box-shadow: none; }

.jstree-default .jstree-wholerow-clicked,
.jstree-wholerow .jstree-wholerow-clicked {
  background: #e1e1e1;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.jstree-default .jstree-wholerow-hovered,
.jstree-wholerow .jstree-wholerow-hovered {
  border: 0;
  background-color: #eee;
  -webkit-box-shadow: none;
  box-shadow: none; }

.jstree-icon.icon-lg {
  margin-top: 1px; }

.jstree-default.jstree-rtl .jstree-last {
  background: no-repeat; }

.vakata-context,
.vakata-context ul {
  padding: 0;
  min-width: 125px;
  background-color: #fff;
  font-size: 14px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  border: 1px solid #efefef; }

.morris-hover.morris-default-style .morris-hover-point,
.select2-container--bootstrap .select2-results__group,
.select2-container--bootstrap .select2-selection {
  font-family: "Open Sans", sans-serif; }

.vakata-context li {
  border: 0; }

.vakata-context li a {
  padding: 0 10px;
  border: 0; }

.vakata-context li a .vakata-contextmenu-sep,
.vakata-context li a i {
  display: none; }

.vakata-context .vakata-context-hover > a,
.vakata-context li a:hover {
  background-color: #eee;
  color: #333;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0; }

.vakata-context .vakata-context-hover > a .ins,
.vakata-context .vakata-context-hover > a .span,
.vakata-context li a:hover .ins,
.vakata-context li a:hover .span {
  border: 0 !important; }

.vakata-context li a ins,
.vakata-context li a span {
  display: none;
  border: 0 !important; }

.vakata-context .vakata-context-separator a,
.vakata-context-rtl .vakata-context-separator a {
  margin: 0;
  border: 0; }

.jstree-rename-input {
  background-color: #fff !important;
  border: 1px solid #e5e5e5 !important;
  outline: 0 !important;
  padding: 2px 6px !important;
  margin-right: -4px !important; }

.bootstrap-tagsinput .twitter-typeahead {
  width: auto; }

.hljs {
  background: transparent !important;
  font-size: 12px !important; }

.highlight pre code {
  color: #2f6f9f !important; }

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: #d44950 !important; }

.hljs-attr {
  color: #4f9fcf !important; }

.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name {
  font-weight: normal !important; }
