/* ==========================================================================
* productOrdersPrint
 ==========================================================================*/
h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

.productOrdersPrint{
  width:1120px;
  margin:auto;
  color:#000000;
  .print-Box{
    background-color: #ffffff;
    min-height:1584px;
    padding: 45px;
    border:1px solid rgba(0,0,0,.09);;


    position: relative;
    page-break-after: always;
  }
   .head{
    position:relative;
    font-size: 15px;
    height:80px;
  }
  .head .stitle{
    padding-top:40px;
    margin:0 90px;
  }

  .text .head{
    width:100%;
  }
  .text .head .stitle{
    padding-top:40px;
    margin:0 90px 0 0;
  }
  .text .head .stitle.even{
    padding-top:40px;
    margin:0 0 0 90px;
  }
   .stitle{
    text-align:right;
  }
   .stitle.even{
    text-align:left;
  }
  img{
    max-width: 100%;
  }
}


@media print {
  .reportPrint .text .head{
    display:block;
    margin:0px -90px 30px -90px;
  }
}